.helper {
    position: absolute;
}

body {
    background-color: rgb(0, 0, 0);
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}

i {
    color: white;
    text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 40px #0fa,
        0 0 80px #0fa,
        0 0 90px #0fa;
}

.neonHeader {
    color: #fff;
    font-size: 50pt;
    animation: flicker 1.5s infinite alternate;
}

.neonText {
    color: #fff;
    font-size: 50pt;
    text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #0fa,
        0 0 80px #0fa,
        0 0 90px #0fa,
        0 0 100px #0fa,
        0 0 150px #0fa;
}

#playButton {
    transition: text-shadow .5s;
}

#playButton:hover {
    text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #bc13fe,
        0 0 80px #bc13fe,
        0 0 90px #bc13fe,
        0 0 100px #bc13fe,
        0 0 150px #bc13fe;
    cursor: pointer;
}

#neonBox {
    position: absolute;
    top: 150px;
    left: calc(50% - 250px);
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem rgb(0, 238, 255),
        0 0 0.8rem rgb(0, 238, 255),
        0 0 2.8rem rgb(0, 238, 255),
        inset 0 0 1.3rem rgb(0, 238, 255);
    transition: box-shadow 10s;
}

#neonBox:hover {
    box-shadow:
        0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem #bc13fe,
        0 0 0.8rem #bc13fe,
        0 0 2.8rem #bc13fe,
        inset 0 0 1.3rem #bc13fe;
}

#waitingBox {
    position: absolute;
    top: 250px;
    left: calc(50% - 250px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
}



#usernameInput {
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    width: 250px;
    background-color: rgba(0, 0, 0, 0);
    padding: 20px;
    color: white;
    text-align: center;
    box-shadow:
        0 0 11px #fff,
        0 0 50px #0fa,
        inset 0 0 .5rem #0fa;
    transition: 2s;
}

#usernameInput:focus {
    box-shadow:
        0 0 11px #fff,
        0 0 50px #bc13fe,
        inset 0 0 .5rem #bc13fe;
}

#infoIcon {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 25px;
}

#info {
    position: absolute;
    color: #fff;
    top: 55px;
    left: 55px;
    line-height: 15px;
    font-size: 16px;
}

#infoIcon:hover~#info {
    visibility: visible;
}

#refreshIcon {
    position: absolute;
    top: 0px;
    left: 50px;
    padding: 25px;
}

#refresh {
    position: absolute;
    color: #fff;
    top: 55px;
    left: 100px;
    font-size: 16px;
}

#refreshIcon:hover~#refresh {
    visibility: visible;
}

#colorsDiv {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 0px 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#colors {
    color: white;
    font-weight: 800;
    font-size: 25px;
    text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 40px #0fa,
        0 0 80px #0fa,
        0 0 90px #0fa;
}

#scoreDiv {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0px 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#score {
    color: white;
    font-weight: 800;
    font-size: 25px;
    margin-right: 12px;
    text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 40px #0fa,
        0 0 80px #0fa,
        0 0 90px #0fa;
}

#winner,
#loser {
    position: absolute;
    text-align: center;
    width: 500px;
    top: 250px;
    left: calc(50% - 250px);
}




/* Flickering animation */
@keyframes flicker {

    0%,
    18%,
    22%,
    25%,
    53%,
    100% {
        text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 40px #0fa,
            0 0 80px #0fa,
            0 0 90px #0fa,
            0 0 100px #0fa,
            0 0 150px #0fa;
    }

    20%,
    24% {
        text-shadow: none;
    }
}

.hidden {
    visibility: hidden;
}